---
title: Landmark Church | About
description: Learn about Landmark Church, our leadership, our beliefs, and more.
image: /assets/pastor.jpeg
---
{% include header.html %}
	<div class="content">
    <h2>About Landmark Church</h2>
		<p>Landmark is unlike most churches. We believe that true disciples of Christ should be willing to get their hands dirty by doing things the world truly needs.</p>
    <p>We believe Jesus Christ can cause a personal transformation that is so strong, it will in turn transform the world. We act on that belief by making sure you can find an understanding member of Landmark in your darkest place at your darkest hour. We come from broken homes, destroyed marriages, bad histories, and unloving families. The people of Landmark, along with Jesus, help us overcome the darkness.</p>
    <p>If you’re new to Landmark, we only have one thing to say. Welcome Home.</p>
    <hr>

    <h3>Meet Our Pastors</h3>
      <div class="pods">
    <div class="pod">
    <h4>Senior Lead Pastors Rick & Nancy Langford</h4>
    <p>Pastor Rick & Nancy have been at Landmark Church for over 30 years. They and their staff work tirelessly to insure that everyone has the opportunity to deeply connect with Jesus Christ.</p>
    <a href="https://twitter.com/rlangford"><button>Pastor Rick on X/Twitter</button></a>
    </div>
    <div class="pod">
    <h4>Outreach Pastors John & Sarah Nugent</h4>
    <p>Pastor John and Sarah joined the Landmark staff in 2022 to lead our outreach and community based efforts, including Safehouse.</p>
    </div>
    <div class="pod>"
    <h4>Administrative Pastors Matt & Kalena Langford</h4>
    <p>Pastor Matt and Kalena Langford have been on staff for over 10 years. They lead our administrative, business, and marketing efforts.</p>
    <a href="https://twitter.com/mattslangford"><button>Pastor Matt on X/Twitter</button></a>
    </div>
   <hr>
    <h3>Our Beliefs</h3>
    <p>There is One God. As our Father, He is the creator of the universe and everything in it including man. When Adam and Eve sinned in the Garden of Eden, everything changed. Because we needed a savior, He became flesh and paid the ultimate price for our redemption by dying in our place. Three days later, He triumphantly rose from the dead having defeated hell and the grave. His death, burial, and resurrection became our hope. This is the gospel.</p>
    <p>Heaven is the eternal reward of those who hear and obey the gospel. Hell is reserved for those who refuse.</p>
    <p>Grace opens the door to salvation. Faith is our response to His grace. Confession is our acknowledgement of His existence and our dependence on Him. Repentance is an intentional decision we must make to turn our back on sin, and, along with Baptism in His Name, is for the remission of sins. The baptism of the Holy Spirit is the promise given to all believers. To be eternally saved, we must endure in faith until our heavenly Father takes us from this earthly life.</p>
    <p>We believe our conduct and conversation reveal our allegiance. We must endeavor to live a life that reflects His glory in every way. We will present ourselves appropriately both publicly and privately.</p>
    <p>When our story encounters His story our testimony is born. This “new” story is our greatest means for fulfilling our divine purpose, which is wrapped up neatly when it says:</p>
    <blockquote>The Spirit of the Lord is upon me, because He has anointed me to preach the gospel to the poor; he has sent me to heal the brokenhearted, to proclaim liberty to the captives and recovery of sight to the blind, to set at liberty those who are oppressed; to proclaim the acceptable year of the Lord. (NKJV)
    Luke 4:18-19</blockquote>
    <p>Jesus is coming again! First, to resurrect those who died in Christ and to catch away all living disciples. Then, to establish a new kingdom on earth that will last a thousand years.</p>
    <p>We know God still heals and works miracles. We prove this not just from scripture but also by personal experience.</p>
	</div>
{% include footer.html %}
