---
title: Landmark Church | Celebrate Recovery
description: Celebrate Recovery at Landmark Church on Thursdays at 6:30pm. The best place to be with like-minded individuals struggling with hurts, habits, and hangups.
image: /assets/hope.jpg
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/hope.jpg" alt="Landmark Church Celebrate Recovery Hope">
	</div>
	<div class="content">
    <h2>Celebrate Recovery at Landmark Church</h2>
		<p>Do you have hurts, habits or hang-ups? The real question is…who doesn’t?</p>
    <p>Our struggles occur when we try to fill the voids and meet the needs in our lives by some means other than God. Some of us eat too much, spend too much, have sexual addictions, gamble, escape to the computer, obsess about work, drink too much or take drugs to numb our pain and try to face life’s realities.</p>
    <p>No matter what your hurts, habits, or hangups are…there is hope. At Celebrate Recovery you will find many men and women with struggles similar to your own. We provide a safe gathering place where you are not judged, where your confidentiality is assured, and where you will be loved in spite of your issues.</p>
    <p>Celebrate Recovery is a Christ-centered recovery ministry for everyone 18 and older. Together we find hope and healing in the power of Jesus Christ.</p>
    <p>We meet every Thursday night at 6:00. Our meeting starts at 6:30.</p>
    <p>Let your recovery begin…</p>
  </div>
{% include footer.html %}
