---
title: Landmark Church | Connect With Us
description: Landmark Church offers many connection points. Life Groups, Growth Track, Celebrate Recovery, SafeHouse, Youth, and much more.
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/connect.jpg" alt="Landmark Church Connect With Us">
	</div>
	<div class="content">
	<h2>Connect with Landmark Church</h2>
	<p>At Landmark, we want everyone to know there is a place for them. We have many opportunities for you to be involved and connect with like minded people.</p>
<p>Check things out below. If you dont see anything that interests you, let us know. We will do our best to remedy that!</p>
		<div class="pods">
			<div class="pod">
				<h3>Life Groups</h3>
				<p>Start or Join a semester based Life Group to stay connected with people just like uou.</p>
				<a href="/life-groups.html" class="button"><button>Life Groups →</button></a>
			</div>
			<div class="pod">
				<h3>Celebrate Recovery</h3>
				<p>Everyone struggles with something. Connect with others attempting to overcome hurts, habits, and hangups.</p>
				<a href="/celebrate-recovery.html" class="button"><button>Celebrate Recovery →</button></a>
			</div>
			<div class="pod">
				<h3>SafeHouse</h3>
				<p>A fully independent non-profit organization run by Landmark, SafeHouse is focused on feeding and reaching those in need.</p>
				<a href="https://safehousefamily.com" class="button"><button>SafeHouse →</button></a>
			</div>
			<div class="pod">
				<h3>Even more!</h3>
				<p>We don't stop there! From Sunday School to Youth Activities to Growth Track, there is always something going on at Landmark. Reach out to us if you'd like more information about getting involved.</p>
			</div>
		</div>
	</div>
{% include footer.html %}
