---
title: Landmark Church | Connect With Us
description: Landmark Church offers many connection points. Life Groups, Growth Track, Celebrate Recovery, SafeHouse, Youth, and much more.
image: /assets/connect.jpg
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/connect.jpg" alt="Landmark Church Connect With Us">
	</div>
	<div class="content">
	<h2>Connect with Landmark Church</h2>
	<p>At Landmark, we want everyone to know there is a place for them. We have many opportunities for you to be involved and connect with like minded people.</p>
<p>Check things out below. If you dont see anything that interests you, let us know. We will do our best to remedy that!</p>
		<div class="pods">
			<div class="pod">
				<h3>Groups</h3>
				<p>Start or Join a semester based Life Group or Freedom Group to stay connected with people just like you.</p>
				<a href="/life-groups.html" class="button"><button>Life Groups →</button></a>
			</div>
			<div class="pod">
				<h3>Celebrate Recovery</h3>
				<p>Everyone struggles with something. Connect with others attempting to overcome hurts, habits, and hangups.</p>
				<a href="/celebrate-recovery.html" class="button"><button>Celebrate Recovery →</button></a>
			</div>
			<div class="pod">
				<h3>SafeHouse</h3>
				<p>A fully independent non-profit organization run by Landmark, Safehouse is focused on feeding and reaching those in need.</p>
				<a href="https://safehousefamily.com" class="button"><button>Safehouse →</button></a>
			</div>
			<div class="pod">
				<h3>First Wednesday</h3>
				<p>On the first Wednesday of each month at 6:30pm, we gather over a free meal and a short activity to build stronger connections with our church family. Everyone is invited! Kid friendly atmosphere.</p>
			</div>
			<div class="pod">
				<h3>Growth Track</h3>
				<p>If you're new to Landmark, we offer an introductory course that examines our beliefs and walks you through life at Landmark Church.</p>
			</div>
			<div class="pod">
				<h3>Students and Youth</h3>
				<p>We have frequent events, both socially and Biblically based, for our youth. Bible studies, game night, eating events, and more.</p>
			</div>
			<div class="pod">
				<h3>Kids</h3>
				<p>We love our kids! Excellent childcare with a Biblical backing is provided during all Sunday Services and Celebrate Recovery.</p>
			</div>
			<div class="pod">
				<h3>And more!</h3>
				<p>From gumbo cookoffs to tea parties to market days, Landmark always provides fun ways to connect with others. Check our calendar for what's coming up.</p>
				<a href="https://landmarkchurch.churchcenter.com/calendar" class="button"><button>Events →</button></a>
			</div>
		</div>
	</div>
{% include footer.html %}
