---
title: Landmark Church | Contact Us
description: Contact Landmark Church with any comments, questions, or concerns. We'll do our best to get back you as soon as possible.
image: /assets/contact.jpg
---
{% include header.html %}
	<div class="content">
		<h3>Contact Landmark Church</h3>
    <ul>
	<li><a href="https://landmarkchurch.churchcenter.com/people/forms/13671" data-open-in-church-center-modal="true">Send us an email</a></li>
      	<li>337-232-3974</li>
	    <li><a href="https://facebook.com/landmarklafayette">Message us on Facebook</a></li>
	    <li><a href="https://twitter.com/landmarkchurch">Tweet us on Twitter</a></li>
    </ul>
		<h3>Locate Landmark Church</h3>
    <ul>
      <li>Physical: 1610 W Willow St, Lafayette, LA 70583</li>
      <li>Mailing: PO Box 62833, Lafayette, LA 70596</li>
    </ul>
	</div>
{% include footer.html %}
