---
title: Landmark Church | COVID-19 Response
description: Learn more about the Landmark Church COVID-19 response and plans going forward. Service schedule, re-opening, and more.
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/jesus.jpg" alt="Landmark Church Back to Church">
	</div>
	<div class="content">
    <h2>COVID Response and Updates</h2>
		<h3>BACK TO CHURCH!</h3>

<p><strong>On May 31st, we will be returning to church and gathering with our Forever Family.</strong></p>

<p>Of course, just like everywhere else, we have guidelines from the state that we will be adhering to very closely. We will make changes as we move along and as the state advances through all the stages of recovery for Covid-19.</p>

<p>We will be having two services <strong>every Sunday at 9:00am and 11:00am</strong>. This will help us with mandated crowd size and social distancing.</p>
<a href="https://landmarkchurch.churchcenter.com/registrations" class="button"><button>Register to Attend Sunday Service</button></a>

<h3>Here is the information you will need to know:</h3>

<ul>
<li>First, you will need to register online each week for the service you would like to attend. <a href="https://landmarkchurch.churchcenter.com/registrations">Register here</a> or in the Church Center app. Seating is limited in each service, so register quickly. Make sure you register for each person in your household or any family/friend you will be inviting and who will be for sure coming. Registration will open every Sunday at 1:00pm for the following week.</li>
<li>Everyone will be required to wear a mask.</li>
<li>You will be directed where to park and how to enter the building. We will be following all social distancing rules.</li>
<li>You will be directed where to sit as you arrive. Please respect where the ushers ask you to sit and stay in those seats. But feel free to wave, smile, and send air hugs.</li>
<li>Please worship freely in your seat. Clap, lift your hands, raise your voice, but remain at your seat.</li>
<li>When service is over, you will once again be directed how to leave so we do not congregate. Again, social distancing rules apply.</li>
</ul>

<a href="https://landmarkchurch.churchcenter.com/registrations" class="button"><button>Register to Attend Sunday Service</button></a>

<h3>Other things to note:</h3>

<ul>
<li>Doors will open at 8:30 for the 9:00am service. Doors will open at 10:30 for the 11:00am service. Please remain in your car if you arrive early. Parking attendants will direct you.</li>
<li>You must leave promptly when service is over. The entire facility has to be cleaned to prepare for the next service.</li>
<li>Parts of the building are completely closed and must remain so.</li>
<li>There will be no childcare provided. Any child present must remain in the sanctuary with their parents.</li>
<li>Restrooms are available, two people at a time only.</li>
<li>We recommend that small children not attend just yet. We also recommend that the elderly or those considered high risk continue to worship online from home.</li>
<li>If you feel sick, have been sick, or you’ve been around someone that has been sick, please stay home and enjoy the service online.</li>
</ul>

<p>This will not last forever. And we will be better and stronger because of it.</p>

<p>We are Landmark.</p>

<p>We can do hard things.</p>

<p><strong>We were made for this.</strong></p>
		
<a href="https://landmarkchurch.churchcenter.com/registrations" class="button"><button>Register to Attend Sunday Service</button></a>
	</div>
{% include footer.html %}
</div>
</body>
</html>
