---
title: Landmark Church | Giving
description: Giving to Landmark Church is simple and secure. Give a single gift or schedule recurring donations. Use your debit card, credit card, or checking account. You can even give stock if you'd like.
image: /assets/give.jpg
---
{% include header.html %}
<div class="hero">
	<img src="/assets/give.jpg" alt="Landmark Church Giving">
</div>
	<div class="content">
		<h2>God Can Do Amazing Things With Your Generosity</h2>
    <p>Our giving options are simple and secure. Give a single donation or setup recurring giving using your debit card, credit card, or checking account. Or you can donate stock through your brokerage account.</p>
	<div class="pods">
		<div class="pod">
			<h3>Card or Check</h3>
			<p>Setup a one-time or recurring donation using a credit card, debit card, or checking account.</p>
			<a href="https://landmarkchurch.churchcenter.com/giving/" data-open-in-church-center-modal="true" class="button"><button>Give Now</button></a>
		</div>
		<div class="pod">
			<h3>Stock</h3>
			<p>Give shares of your choice by securely connecting your brokerage account.</p>
			<a href="https://donate.overflow.co/landmarklafayette/stock/select-flow" class="button"><button>Give Stock</button></a>
		</div>
		<div class="pod">
			<h3>Physical Goods</h3>
			<p>In certain cases, we can accept donations of physical goods. Contact us for details.</p>
			<a href="https://www.landmarklafayette.com/more" class="button"><button>Contact Us</button></a>
		</div>
	</div>
	</div>
{% include footer.html %}
