---
title: Landmark Church | Giving
description: Giving to Landmark Church is simple and secure. Give a single gift or schedule recurring donations. Use your debit card, credit card, or checking account. You can even give stock if you'd like.
image: /assets/give.jpg
---
{% include header.html %}
<div class="hero">
	<img src="/assets/give.jpg" alt="Landmark Church Giving">
</div>
	<div class="content">
		<h2>God Can Do Amazing Things With Your Generosity</h2>
    <p>Our giving options are simple and secure. Give a single donation or setup recurring giving using your debit card, credit card, or checking account. You can also donate goods in person at Landmark Church..</p>
	<div class="pods">
		<div class="pod">
			<h3>Card or Check</h3>
			<p>Setup a one-time or recurring donation using a credit card, debit card, or checking account.</p>
			<a href="https://landmarkchurch.churchcenter.com/giving/" data-open-in-church-center-modal="true" class="button"><button>Give Now</button></a>
		</div>
		<div class="pod">
			<h3>Goods</h3>
			<p>You can drop off donations of goods at Landmark Church at your convenience. Receipts will be provided upon request.</p>
		</div>
	</div>
	</div>
{% include footer.html %}
