---
title: Landmark Church | Giving FAQ
description: Answers to common questions about Giving to Landmark church.
image: /assets/give.jpg
---
{% include header.html %}
	<div class="content">
		<h2>Giving - Frequently Asked Questions</h2>
		<h3>How do I manage my giving?</h3>
		<p>You can manage all details of your giving through <a href="https://landmarkchurch.churchcenter.com/login?return=https%3A%2F%2Flandmarkchurch.churchcenter.com%2Fgiving">Planning Center</a>. You're able to manage your recurring giving, donation methods, see giving history, access donor statements, see pledges and progress, and much more.</p>
		<h3>Will I receive a giving statement?</h3>
		<p>You will receive a receipt for every donation immediately. You'll also receive a yearly statement every January for your tax purposes.</p>
		<h3>How secure is giving to Landmark Church?</h3>
		<p>Very secure. Our payment processors, used by tens of thousands of businesses and churches, use the highest forms of security available.</p>
		<h3>Are donations tax deductible?</h3>
		<p>Yes. All donations to Landmark Church are fully tax deductible.</p>
		<h3>What is the deadline for annual donations?</h3>
		<p>Cash and check contributions must be received or postmarked by December 31st to be included on your giving statement for that year. Online transactions must be initiated by 11:59 pm ET on December 31st to be included.</p>
		<h3>Can I mail in donations?</h3>
		<p>Absolutely! Send it to PO Box 62833, Lafayette, LA 70596.</p>
	</div>
{% include footer.html %}
