---
title: Landmark Church | Media Prep
description: Say hello to the Landmark Church team.
image: /assets/contact.jpg
---
{% include header.html %}
	<div class="content">
		<h3>Say Hello!</h3>
		<p>If you're a first time guest or would simply like to reconnect with us, we've made it easy. Choose what you'd like to do below and we'll walk you through it.</p>
		<ul>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/124657">I'm a First Time Guest!</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/533">Submit a Prayer Request</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/823004">Schedule a Meeting with a Pastor</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/373239">Request Baptism</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/13671">Ask a Question or Leave a Comment</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/823012">Update My Info</a></li>
		</ul>
	</div>
{% include footer.html %}
