---
title: Landmark Church | Say Hello
description: Say hello to the Landmark Church team.
---
{% include header.html %}
<style>
	.navigation {display: none;}
</style>
	<div class="content">
		<h3>Say Hello!</h3>
		<p>If you're a first time guest (you get a free gift) or would simply like to reconnect with us, we've made it easy. Choose what you'd like to do below and we'll walk you through it.</p>
		<ul>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/124657">I'm a First Time Guest!</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/533">Submit a Prayer Request</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/823004">Schedule a Meeting with a Pastor</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/373239">Request Baptism</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/13671">Ask a Question or Leave a Comment</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/823012">Update My Info</a></li>
		</ul>
		<p>If you haven't already done so, make sure to install the <a href="https://landmarkchurch.churchcenter.com/setup">Church Center app</a>.</p>
	</div>
{% include footer.html %}
