---
title: Landmark Church | Lafayette, Louisiana
description: Landmark Church is a community focused church in Lafayette, Louisiana featuring Celebrate Recovery and Life Groups.
image: /assets/hero.jpg
---
{% include headerb.html %}

<body>
<div class="container">
	<header>
		<div class="logo">
			<a href="index.html"><img src="/assets/standard.svg" alt="Landmark Church Logo"></a>
		</div>
		<h1>Messy People Helping Messy People</h1>
		<div class="main-bubble">
			<h3>First Time?</h3>
			<p>If you're new to Landmark, find out more about what we do and offer in our community.</p>
		</div>
		<div class="main-bubble">
			<h3>Central Hub</h3>
			<p>It's easy to be involved at Landmark. Get information about upcoming events, join a semester based life group, submit a prayer request, and much more.</p>
		</div>
	</header>
</div>

{% include footerb.html %}
