---
title: Landmark Church | Lafayette, Louisiana
description: Landmark Church is a community focused church in Lafayette, Louisiana featuring Celebrate Recovery and Life Groups.
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/hero.jpg" alt="Landmark Church in Lafayette, LA">
		<h2>A movement powered by messy people living to serve others and to share the hope of Jesus Christ with everyone, everywhere, every day.</h2>
	</div>
	<div class="content">
		<div class="update">
			<h3><i class="fas fa-exclamation-triangle"></i> COVID-19 UPDATE</h3>
			<p>With Louisiana in Phase 1 of the COVID-19 response, we have started the process of re-opening certain aspects of Landmark Church.</p>
			<p style="font-size:0.7em; color:gray;"><i class="fas fa-child"></i> May 24th Kid's Resources: <a href="https://www.youtube.com/watch?v=heaBu87bRso">Ages 3-5</a>, <a href="https://vimeo.com/421419121">Ages 5-11</a></p>
			<a href="/covid.html" class="button"><button>Find Out More</button></a>
		</div>
		<div class="pods">
			<div class="pod">
				<h3>How Can We Pray for You?</h3>
				<p>Our staff and members would love to pray for you and your needs.</p>
				<a href="https://landmarkchurch.churchcenter.com/people/forms/533" data-open-in-church-center-modal="true" class="button"><button>Prayer Request</button></a>
			</div>
			<div class="pod">
				<h3>Join a Life Group</h3>
				<p>Join a semester based Life Group of your choice to connect with people like you.</p>
				<a href="/life-groups.html" class="button"><button>Join a Group</button></a>
			</div>
			<div class="pod">
				<h3>Celebrate Recovery</h3>
				<p>Struggling with something? Really, who isn't? Join us for Celebrate Recovery.</p>
				<a href="/celebrate-recovery.html" class="button"><button>CR Information</button></a>
			</div>
			<div class="pod">
				<h3>Download Our App</h3>
				<p>Get the Church Center app to stay informed, make donations, join groups, and more.</p>
				<a href="http://onelink.to/ffd52u" class="button"><button>Download it Now</button></a>
			</div>
		</div>
	</div>
{% include footer.html %}
