{% include header.html %}
	<div class="hero">
		
	</div>
	<div class="content">
		<div class="update">
		<h3>COVID-19 UPDATE</h3>
		<p>With Louisiana entering Phase 1 of the COVID-19 response, we have began the process of re-opening certain aspects of Landmark Church. Beginning on May 31, we will have services open to the public with restrictions.</p>
		<p>In order to attend in person, you must pre-register (free). To accomodate more people, we will be having two services every Sunday (9am and 11am). We will also continue to live stream every Sunday service and Wednesday devotion.</p>
		<p>Celebrate Recovery and SafeHouse will be operating on a limited basis moving forward. Those details will be communicated soon.</p>
		</div>
		<div class="pods">
			<div class="group">
			<div class="pod">
				<h3>How Can We Pray for You?</h3>
				<p>Our staff and members would love to pray for you and your needs.
				<a href="#" class="button"><button>Prayer Request</button></a>
			</div>
			<div class="pod">
				<h3>How Can We Pray for You?</h3>
				<p>Our staff and members would love to pray for you and your needs.
				<a href="#" class="button"><button>Prayer Request</button></a>
			</div>
			</div>
			<div class="group">
			<div class="pod">
				<h3>How Can We Pray for You?</h3>
				<p>Our staff and members would love to pray for you and your needs.
				<a href="#" class="button"><button>Prayer Request</button></a>
			</div>
			<div class="pod">
				<h3>How Can We Pray for You?</h3>
				<p>Our staff and members would love to pray for you and your needs.
				<a href="#" class="button"><button>Prayer Request</button></a>
			</div>
			</div>
		</div>
	</div>
{% include footer.html %}
