---
title: Landmark Church | Life Groups
description: Landmark Church offers semester based Life Groups with an unlimited amount of possibilites. Don't see one that interests you? Start your own life group now!
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/involved.jpg" alt="Landmark Church Life Groups">
	</div>
	<div class="content">
    <h2>Landmark Church Life Groups</h2>
		<p>At Landmark Church, we offer semester based Life Groups to provide opportunities for you to meet others, socialize, and experience Jesus together. You can choose your group for any semester and easily sign up for it at your leisure. Due to certain constraints, some groups may have a maximum number of people allowed (the sooner you signup the better).</p>
    <p>We have groups ranging from Bible Studies to Exercise to Eating Out and many things in between. Some groups are gender or age specific, while others are open only to couples or families. Simply choose the group that is for you and click “JOIN NOW”. If you’re joining with a spouse or friend, please sign them up separately (do not sign up a couple as one person).</p>
	  <a href="https://landmarkchurch.churchcenter.com/groups/life-groups" class="button"><button>Join a Group</button></a>
    <a href="https://landmarkchurch.churchcenter.com/people/forms/5847" class="button"><button>Start a Group</button></a>
  </div>
{% include footer.html %}
