---
title: Landmark Church | Life Groups
description: Landmark Church offers semester based Life Groups with an unlimited amount of possibilites. Don't see one that interests you? Start your own life group now!
image: /assets/involved.jpg
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/involved.jpg" alt="Landmark Church Life Groups">
	</div>
	<div class="content">
    <h2>Landmark Church Groups</h2>
	<a href="https://landmarkchurch.churchcenter.com/groups/life-groups" class="button"><button>Join a Group</button></a>
	
	<p>You were designed to live and belong in community! Life Groups provide a space to connect with a community of believers  and be transformed as disciples of Christ.</p>

<blockquote>“Don’t copy the behavior and customs of this world, but let God transform you into a new person by changing the way you think. Then you will learn to know God’s will for you, which is good and pleasing and perfect.” <strong>Romans‬ ‭12:2‬ ‭NLT</strong>‬‬</blockquote>

<h3>Join a Life Group</h3>

<p>Life Groups meet weekly each semester with the purpose of growing healthier in an area of our lives with the help of God and others. Whether you need to grow spiritually, work on your physical or mental health, strengthen relationships, or learn financially healthy habits, there are others who are ready to journey with you. Find the group for this season of your life by asking yourself, “where do I need to cultivate healthier habits in my life right now?” If you don't see a group that interests you, start one that does!</p>

<a href="https://landmarkchurch.churchcenter.com/groups/life-groups" class="button"><button>Join a Life Group</button></a>

<h3>Join a Freedom Group</h3>

<p>Freedom is a Life Group that we encourage everyone to experience! This 12 week curriculum is designed to help you grow spiritually and lead a victorious life in Christ. You will learn foundational truths, examine your own beliefs and experiences, and take steps to lead an abundant life, free of fear and shame. Whether you are a new believer or you have followed Christ for decades, Freedom is for you! Each semester ends with a Freedom Conference that many describe as life-changing.</p>

<a href="https://landmarkchurch.churchcenter.com/groups/freedom-groups" class="button"><button>Join a Freedom Group</button></a>

<h3>Lead A Group</h3>

<p>Consider leading a Life Group this semester as a next step in your spiritual journey. Be a champion of others. Provide an opportunity for connection and growth. Experience the fulfillment of walking alongside friends as they allow Christ to transform them from the inside out. You can sign up to lead a group at any point throughout the year by clicking the "Start a Group" button below!</p>

<ul>
<li>Fall 2022: Sept 4th - Nov 26th</li>
<li>Spring 2023: Feb 5th - Apr 29th</li>
<li>Summer 2023: Jun 18th - Jul 29th</li>
<li>Fall 2023: Sept 10th - Dec 2nd</li>
</ul>
    <a href="https://landmarkchurch.churchcenter.com/people/forms/415694" class="button"><button>Lead a Group</button></a>
  </div>
{% include footer.html %}
