---
title: Landmark Church | Landmark Market
description: Join us for the Landmark Market on Oct 9, 2021 at Landmark Church.
---
{% include header.html %}
	<div class="content">
		<h3>Landmark Market</h3>
		<img src="assets/market.png" style="width: 100%; max-width: 800px;" />
		<p>Join us for the Landmark Market on October 9, 2021 from 8:30am - Noon. We'll have multiple vendors selling a variety of items. From clothes to refinished furniture and many things in between, you're sure to find something you love.</p>
		<p>There will also be booths serving drinks, meals, and snacks. Yum!</p>
		<p>Admission is FREE.</p>
		<p><strong>Address:</strong> 1610 West Willow St, Scott, LA 70583</p>
		<a href="https://landmarkchurch.churchcenter.com/people/forms/13671" data-open-in-church-center-modal="true"><button>Contact Us</button></a>
	</div>
{% include footer.html %}
