---
title: Landmark Church | Media Prep
description: How to submit files, notes and other information to the Landmark media team.
image: /assets/contact.jpg
---
{% include header.html %}
	<div class="content">
		<h3>Contact Landmark Church</h3>
		<p>Follow the directions below to submit notes, presentation files, graphics, and directions to the Landmark media team.</p>
		<p>Send an email to <strong>media at landmark lafayette dot com</strong> & <strong>matt at landmark lafayette dot com</strong> with the following information:</p>
		<ul>
			<li>Date Speaking</li>
			<li>Title of Sermon</li>
			<li><em>Attach Notes as a PDF</em></li>
			<li><em>Attach Images and Videos*</em></li>
			<li><em>Attach Presentation Files if Necessary**</em></li>
			<li>Include any additional instructions for sound and media teams.</li>
		</ul>
	</div>
{% include footer.html %}