---
title: Landmark Church | More
description: Contact Landmark Church with any comments, questions, or concerns. We'll do our best to get back you as soon as possible.
image: /assets/contact.jpg
---
{% include header.html %}
	<div class="content">
		<h3>Quick Links and Resources</h3>
		<ul>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/533">Request Prayer</a></li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/373239">Baptism Registration</a></li>
		</ul>
		<h3>Contact Landmark Church</h3>
		<p>If you'd like to ask a question, schedule a baptism, meet the pastor, or simply leave a comment, you can do that below or by calling 337.232.3974.</p>
		<a href="https://landmarkchurch.churchcenter.com/people/forms/13671" data-open-in-church-center-modal="true"><button>Contact Us</button></a>
    </ul>
		<h3>Locate Landmark Church</h3>
    <ul>
      <li>Physical: 1610 W Willow St, Lafayette, LA 70583</li>
      <li>Mailing: PO Box 62833, Lafayette, LA 70596</li>
    </ul>
	</div>
{% include footer.html %}
