---
title: Landmark Church | Contact Us
description: Contact Landmark Church with any comments, questions, or concerns. We'll do our best to get back you as soon as possible.
image: /assets/contact.jpg
---
{% include header.html %}
	<div class="content">
		<h3>Planning Center Administration</h3>
		<p>These are direct links to Landmark Church's Planning Center Integration for Administrators. If you feel you should be able to access any of these links, please email info@landmark418.com for access.</p>
		<ul>
			<li><a href="https://accounts.planningcenteronline.com/apps/calendar">Calendar</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/check-ins">Check-Ins</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/giving">Giving</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/groups">Groups</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/people">People</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/publishing">Publishing</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/registrations">Registrations</a></li>
			<li><a href="https://accounts.planningcenteronline.com/apps/services">Services</a></li>
			<li><a href="https://accounts.planningcenteronline.com/organization/church_information">Account Management</a></li>
		</ul>
	</div>
{% include footer.html %}
