---
title: Landmark Church | Podcast
description: Listen to the Landmark Church Podcast
---
{% include header.html %}
	<div class="content">
		<h3>Landmark Church Podcast</h3>
		<p>You can listen to all Sunday services by subscribing to our Podcast.</p>
		<ul>
			<li><a href="https://podcasts.apple.com/us/podcast/landmark-sermons/id1768287177">Listen in Apple Podcasts</a></li>
			<li><a href="https://open.spotify.com/show/2xEg5C8VG8w658Nfz1Tm1j">Listen in Spotify</a></li>
			<li><a href="https://overcast.fm/itunes1768287177/">Listen in Overcast</a></li>
		</ul>
		<p>Our podcast is available in virtually every podcast app. Just search for "Landmark Church" and subscribe. Hint: our podcast logo is the same as the church logo.</p>
	</div>
{% include footer.html %}
