---
title: Landmark Church | Calendar
description: See all upcoming events at or sponsored by Landmark Church in Lafayete, LA.
image:
---
{% include header.html %}
	<div class="content">
    <h2>Landmark Church Calendar</h2>
       <div class="eca-app-container" data-widgetuuid="013e3d17-b01b-4fae-ac8b-1e4d475f0c3e"></div>
       <script>(function () {
       window.eventCalId=97;
       var integrationScript = document.createElement("script");
       integrationScript.async = 1;
       integrationScript.setAttribute("src", "https://api.eventcalendarapp.com/integration-script.js");
       document.head.appendChild(integrationScript);
       if (window.eventCalendarAppUtilities) { window.eventCalendarAppUtilities.init("013e3d17-b01b-4fae-ac8b-1e4d475f0c3e");}})();
       </script>
	</div>
{% include footer.html %}
