---
title: Landmark Church | Visit
description: Prepare for your visit to Landmark Church.
image: /assets/visit.jpg
---
{% include header.html %}
	<div class="hero">
		<img src="/assets/visit.jpg" alt="Landmark Church Information">
	</div>
	<div class="content">
    <h2>Visit Landmark Church</h2>
		<p>If you are considering visiting Landmark Church, we want to make it as easy and comfortable as possible for you to do so. Here is the most important information to know to set your mind at ease when visiting.</p>
        <h3>How to Get to Landmark</h3>
        <p>Landmark Church is located at <strong>1610 W Willow St in Lafayette, LA</strong> (some GPS devices will label the city as Scott). The church is visible from Interstate 10 and accessible via both the Ambassador Caffery Parkway exit and the University exit.</p>
        <h3>Weekly Schedule</h3>
        <ul>
        <li><strong>Worship Service</strong> Sundays at 10am</li>
        <li><strong>Service for Kids</strong> Sundays at 10am</li>
        <li><strong>Celebrate Recovery</strong> Thursdays at 6:30pm</li>
        </ul>
        <a href="https://landmarkchurch.churchcenter.com/calendar" class="button"><button>Full Event Schedule →</button></a>
        <h3>Frequently Asked Questions</h3>
        <h4>What time do things start?</h4>
        <p>Our Sunday Worship service starts promptly at 10am. We encourage people to arrive a few minutes early to drop kids off at childcare, use the restroom, and find a seat. We do have volunteers ready to assist in any way, but we promise not to pressure you into anything.</p>
        <h4>What do I wear?</h4>
        <p>Whatever you want! Most people dress casually, and you'll rarely see someone in a suit. We want you to be comfortable, so dress accordingly. It's even ok to wear your Saints jersey if you'd like.</p>
        <h4>How long is service?</h4>
        <p>Service time is typically just over an hour and includes worship music and a message. You're welcome to stay a few minutes afterwards to meet the people of Landmark.</p>
        <h4>Is there a place for my kids?</h4>
        <p>Yes! Kids up to age 11 have their own class every Sunday during service. When you arrive, you can walk with them to the check-in station where a volunteer will collect all relevant information and make sure both you and your children are comfortable.</p>
        <h4>Will I be recognized or embarrassed?</h4>
        <p>No. We will not ask guests to stand, read names from the pulpit, or otherwise put you on the spot.</p>
        <h4>Will I have to stand and raise my hands?</h4>
        <p>That's a personal choice. Many do during our worship set, but we don't pressure anyone to do so. We want you to experience God in a way that's comfortable for you.</p>
        <h4>Will I be expected to give in the offering?</h4>
        <p>We do take an offering. We do not ask first time guests to give.</p>
	</div>
{% include footer.html %}
