---
title: Landmark Church | Watch the Live Stream
description: Watch the Landmark Church Live Stream every Sunday and Wednesday. Archived services are also available for viewing.
image: /assets/live.jpg
---
{% include header.html %}
<div class="hero">
	<img src="/assets/live.jpg" alt="Landmark Church Life Groups">
</div>
	<div class="content">
    <p>We live stream all Sunday services at 10am CST in Full 1080p HD across many devices. If you're watching on your phone or computer, you can also participate in chat. Various archived services are also accessible.</p>
    <a href="https://landmarkchurch.churchcenter.com/channels/5760"><button class="big">Watch in browser</button></a>
	<a href="https://churchcenter.com/install"><button class="big">Watch in our app</button></a>
	<p>The best way to watch our livestream on a TV is by using the YouTube App on your smart TV or streaming device. Simply search for "Landmark Church Lafayette" and look for our "L" logo. You can <a href="https://www.youtube.com/channel/UCQgJo4tuhY1XEW7ew5ktTvw">subscribe on YouTube</a> to make it easier to find us in the future. Archives are only available on our website and in our app.</p>
	</div>
{% include footer.html %}
