---
title: Landmark Church | Watch the Live Stream
description: Watch the Landmark Church Live Stream every Sunday and Wednesday. Archived services are also available for viewing.
image: /assets/live.jpg
---
{% include header.html %}
<div class="hero">
	<img src="/assets/live.jpg" alt="Landmark Church Life Groups">
</div>
	<div class="content">
    <p>We live stream all Sunday services at 10am CST in Full 1080p HD across many devices. We also offer chat (during live streams) and select archives. You can find your best way to watch below.</p>
	<div class="pods">
		<div class="pod">
			<h3>On Your Mobile Device</h3>
			<p>Download the Church Center app on your iPhone or Android device to access our live stream, chat, archives, and much more.</p>
			<a href="https://churchcenter.com/install" data-open-in-church-center-modal="true" class="button"><button>Download App</button></a>
		</div>
		<div class="pod">
			<h3>On Your Computer</h3>
			<p>Watch right in your browser on your computer or tablet. Access our live stream, chat, archives, and much more.</p>
			<a href="https://landmarkchurch.churchcenter.com/channels/5760" class="button"><button>Watch in Browser</button></a>
		</div>
		<div class="pod">
			<h3>On Your TV</h3>
			<p>Watch our live stream directly on your Smart TV or Streaming Box by using YouTube app. Chat and archives not available.</p>
			<a href="https://www.youtube.com/channel/UCQgJo4tuhY1XEW7ew5ktTvw" class="button"><button>Subscribe on YouTube</button></a>
		</div>
		<div class="pod">
			<h3>Support the Live Stream</h3>
			<p>We are able to provide this live stream thanks to generous donations from our viewers. Please consider giving to help us continue to build on our efforts.</p>
			<a href="https://landmarkchurch.churchcenter.com/giving/" data-open-in-church-center-modal="true" class="button"><button>Download it Now</button></a>
		</div>
	</div>
	</div>
{% include footer.html %}
