---
title: Landmark Church | Watch the Live Stream
description: Watch the Landmark Church Live Stream every Sunday and Wednesday. Archived services are also available for viewing.
image: /assets/live.jpg
---
{% include header.html %}
	<div class="content">
		<iframe id="ls_embed_1589901061" src="https://livestream.com/accounts/5127216/events/7671905/player?width=800&height=450&enableInfoAndActivity=true&defaultDrawer=feed&autoPlay=true&mute=false" width="800" height="450" frameborder="0" scrolling="no" allowfullscreen> </iframe><script type="text/javascript" data-embed_id="ls_embed_1589901061" src="https://livestream.com/assets/plugins/referrer_tracking.js"></script>
    <p>We live stream all Sunday services at 10am in HD across many devices. You can watch in any web browser (computer or mobile) or on devices such as an AppleTV, Amazon Fire, Xbox, or Roku (by using the “Livestream” app on each device). You can also watch on <a href="https://facebook.com/landmarklafayette">Facebook</a>.</p>
    <p>You can watch archived services throughout the week (access archives in the above player). Archives are not available on Facebook or any other platform.</p>
	</div>
{% include footer.html %}
