---
title: Landmark Church | You are Connected to Free Wifi
description: Your connection to Landmark's free WiFi is enabled.
image: /assets/visit.jpg
---
{% include header.html %}
    <div class="content">
    <h2>You Are Connected</h2>
        <p>Your connection to Landmark's Free Wifi is currently active. If you can help offset the costs of this service, you can do so by <a href="https://landmarkchurch.churchcenter.com/giving/to/other" target="_blank">making a donation</a> (select other).</p>
        <p>Our WiFi service includes industry standard safeguards for privacy and content filtering when browsing.</p>
    </div>
{% include footer.html %}
