---
title: Landmark Church | You are Connected to Free Wifi
description: Your connection to Landmark's free WiFi is enabled.
image: /assets/visit.jpg
---
{% include header.html %}
    <div class="content">
    <h2>You Are Connected</h2>
        <p>Your connection to Landmark's Free Wifi is currently active. While you're here, please take a moment to download the <a href="https://landmarklafayette.com/app">Church Center app</a>.</p> If it's your first time with us, we'd love for you to <a href="https://landmarklafayette.com/hello.html">Say Hello</a>!
        <p>Our WiFi service includes industry standard safeguards for privacy and content filtering when browsing.</p>
    </div>
{% include footer.html %}
