<footer>
	<div class="footer-container">
	<div class="footer-pods">
		<div class="footer-pod">
		<ul>
			<li><strong>Phys:</strong> 1610 W Willow St, Lafayette, LA 70583</li>
			<li><strong>Mail:</strong> PO Box 62833, Lafayette, LA 70596</li>
			<li>337-232-3974</li>
			<li><a href="https://landmarkchurch.churchcenter.com/people/forms/13671" data-open-in-church-center-modal="true">Send Us an Email</a></li>
		</ul>
		</div>
		<div class="footer-pod" style="text-align: right; display: inline;">
		<ul>
			<li><a href="https://twitter.com/landmarkchurch"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://facebook.com/landmarklafayette"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://instagram.com/landmarkchurch"><i class="fab fa-instagram"></i></a></li>
		</ul>
		</div>
	</div>
	</div>
</footer>
</div>
</body>
<script src="https://js.churchcenter.com/modal/v1"></script>
</html>