body {font-family: -apple-system,BlinkMacSystemFont,sans-serif; font-size: 20px; line-height: 1.5em; border-top: 10px solid #1f343f; padding: 0; margin: 0; background-color: #fafafa;}

.container {}

header {max-width: 800px; margin: 0 auto;}
header .logo {max-width: 800px; padding: 0 20px; margin: 50px 0 20px 0; text-align: center;}
header .logo img {max-width: 300px;}

header ul {text-align: center; padding: 0; margin: 0;}
header ul li {display: inline-block; padding: 10px;}
header ul li a {text-decoration: none; color: #1f343f; font-weight: bold;}

.hero {max-width: 800px; margin: 0 auto; margin-top: 30px;}
.hero img {width: 100%;}

.content {max-width: 800px; margin: 0 auto; padding: 20px;}

.pods, .footer-pods {display: flex; flex-wrap: wrap; justify-content: center; }
.pod {background: rgba(210, 210, 210, 0.33); border-radius: 10px; padding: 15px; flex: 25%; margin: 10px 5px;}
.footer-pod {flex: 30%; margin: 0 10px;}

@media screen and (max-width: 600px) {
  .pods, .footer-pods {display: inline;}
  .pod, .footer-pod {flex: none;}
  .footer-pod ul {text-align: center;}
}

button {padding: 10px 30px; border: none; background: #1f343f; border-radius: 10px; font-size: 0.7em; margin-top:10px; color:white;}
a.button {text-decoration: none; color: white;}
button:hover {opacity: 0.8;}

footer {clear: both; margin: 0 auto; font-size: 16px; padding: 50px 20px; background: #1f343f; color: #fff;}
footer .container {max-width: 1000px;}
footer ul {list-style-type: none; padding: 0; margin: 0;}
footer a {color: #fff;}
