body {font-family: -apple-system,BlinkMacSystemFont,sans-serif; font-size: 20px; line-height: 1.5em; padding: 0; margin: 0; background-color: #fafafa;}

.container {}

.alert {max-width:550px; margin: 10px auto; background-color: orange; color: white; border-radius: 10px; text-align: center;}
.alert a, alert a:visited {color: white;}
.alert p {padding: 10px; margin-top: 0;}

h1, h2, h3, h4, h5, h6 {color: #1f343f;}

h3.service_time {text-align: center;}

header {max-width: 800px; margin: 0 auto;}
header .logo {max-width: 800px; padding: 0 20px; margin: 50px 0 20px 0; text-align: center;}
header .logo img {max-width: 300px;}

header ul {text-align: center; padding: 0; margin: 0;}
header ul li {display: inline-block; padding: 12px;}
header ul li a {text-decoration: none; color: #1f343f; font-weight: bold;}

.icon {display: none;}

.hero {max-width: 1400px; margin: 0 auto; margin-top: 30px;}
.hero img {width: 100%; object-fit:cover; max-height: 600px;}
.hero h2 {text-align: center; margin: 50px auto; font-size: 2.2em; line-height: 1.5em; max-width: 1200px;}

.content {max-width: 800px; margin: 0 auto 50px; padding: 20px;}
.content .update {background: lightyellow; border-radius: 10px; border: 1px solid lightgrey; padding: 20px; margin-bottom: 40px;}
.content a, .content a:visited {color: #1f343f; text-decoration: none; border-bottom: 2px solid #d3d3d3;}
.content a:hover {border-bottom: none;}

blockquote {border-left: 3px solid #1f343f; padding-left: 20px; font-size: 0.9em;}

.pods, .footer-pods {display: flex; flex-wrap: wrap; justify-content: center; }
.pod {background: rgba(210, 210, 210, 0.33); border-radius: 10px; padding: 15px; flex: 25%; margin: 10px 5px;}
.footer-pod {flex: 30%; margin: 0 10px;}

@media screen and (max-width: 600px) {
  .pods, .footer-pods {display: inline;}
  .pod, .footer-pod {flex: none;}
  .footer-pod ul {text-align: center;}
  .alert {width: 95%;}
  .hero h2 {padding: 20px; margin: 0 auto; font-size: 2em; line-height: 1.2em;}
  .hero img {object-fit: cover; height: 300px;}
  .icon {display: inline;}
  .navigation #myLinks {display: none;}
}

button {padding: 10px 30px; border: none; background: #1f343f; border-radius: 10px; font-size: 0.7em; margin-top:10px; color:white;}
a.button, a.button:visited {text-decoration: none; color: white; border:none !important;}
button:hover {opacity: 0.8;}
button.big {padding: 20px 30px; font-size: 1.2em; display: block; margin: 20px auto;}

iframe {max-width:100%;}

footer {clear: both; margin: 0 auto; font-size: 16px; padding: 50px 20px; background: #1f343f; color: #fff;}
footer .footer-container {max-width: 1000px; margin: 0 auto;}
footer ul {list-style-type: none; padding: 0; margin: 0;}
footer a {color: #fff;}
