body {font-family: -apple-system,BlinkMacSystemFont,sans-serif; font-size: 20px; line-height: 1.5em; border-top: 10px solid #1f343f; padding: 0; margin: 0; background-color: #fafafa;}

.container {}

header {max-width: 800px; margin: 0 auto;}
header .logo {max-width: 800px; padding: 0 20px; margin: 50px 0 20px 0; text-align: center;}
header .logo img {max-width: 300px;}

header ul {text-align: center; padding: 0; margin: 0;}
header ul li {display: inline-block; padding: 10px;}
header ul li a {text-decoration: none; color: #1f343f; font-weight: bold;}

.hero {max-width: 800px; margin: 0 auto; margin-top: 30px;}
.hero img {width: 100%;}

.content {max-width: 800px; margin: 0 auto; padding: 20px;}

.pods {margin: 0 auto;}
.pod {background: rgba(210, 210, 210, 0.33); max-width: 350px; margin:10px; float: left; border-radius: 10px;}

button {padding: 10px 30px; border: none; background: #1f343f; border-radius: 10px; font-size: 0.7em; margin-top:10px;}
button a {text-decoration: none; color: white;}

footer {clear: both; margin: 0 auto; text-align: center; font-size: 16px; padding: 50px 20px; background: #1f343f; color: #fff;}
footer ul {list-style-type: none; text-align: center; padding: 0; margin: 0;}
footer a {color: #fff;}
