body {font-family: -apple-system,BlinkMacSystemFont,sans-serif; font-size: 20px; line-height: 1.5em; padding: 0; margin: 0; background-color: #fafafa;}

.wrapper {
  max-width: 800px;
  margin: 0 auto;

}

.container {
  margin-top: 50px;
}

.container h1 {
  text-align: center;
}

.container .logo {
  text-align: center;
}

.footer-container {
  color: gray;
  font-size: .8em;
}

.footer-container ul {
  list-style-type: none;
}